*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    background: #000000;
}

.logo{
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    align-items: center;
    
}
nav{
    display: flex;
    position: sticky;
    flex-basis: 15%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: #272727;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  nav li a {
    display: block;
    color: rgb(133, 133, 133);
    padding: 18px 16px;
    text-decoration: none;
  }
  
  nav li a.active {
    background-color: #ff1100;
    color: white;
  }
  
  nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }


  h1{
    color: rgb(251, 251, 251)
  }

 .maincontent{
    margin-left:15%;
    float: left;
    width: 65%;
    height:1000vh;  
 }
 .rightbar{
    float: right;
    width: 25%;
    position:fixed;
    margin-left: 80%;
    background-color:#272727;
    height: 100%;
    padding-left: 20px;

 }

 .rightbar h2{
    color:whitesmoke;
    padding:20px;
 }
 .leftbar{
    width: 15%;
 }






 
img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .card {
    
    display: flex;
    flex-direction: column;
    width: 30%;
    overflow: hidden;
    border-radius: 20px;
    background: #ff0905;
    background: linear-gradient(to right, #2c2c2c, #181818);
   
  }
  
  
  
  .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
  }

  
  .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
  }
  
  .tag + .tag {
    margin-left: .5em;
  }
  
 
  
  .tag-red {
    background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
  }
  
  .card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
    color:#ffffff
  }
  .card__body p {
    color:rgb(190, 190, 190);
  }
  
  .card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
  }
  
  .user {
    display: flex;
    gap: .5rem;
  }
  
  .user__image {
    border-radius: 50%;
  }
  
  .user__info {
    color: rgb(190, 190, 190);
  }
  
  .feedrow{
    padding:30px;
    display: flex;
    flex-direction: row;
  }





















  
         
  .btn-grad {
    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
 
  .postblogform{
    align-items: center;
    margin-left: 50px;
    padding-bottom: 20px;
  }

  .postblogform input[type=text]{
    border: 2px solid red;
    border-radius: 4px;
    width:80%;
    padding: 15px;
    background-color: #3f3f3f;
    color: whitesmoke;
    font-weight:bolder;
    font-size: large;
  }
  .postblogform input[type=radio]{
    color: white;
  }
  .postblogform textarea{
    border: 2px solid red;
    border-radius: 4px;
    width:80%;
    padding: 15px;
    background-color: #3f3f3f;
    color: whitesmoke;
    font-weight:bolder;
    font-size: large;
  }
  .postblogform select{
    border: 2px solid red;
    border-radius: 4px;
    width:80%;
    padding: 15px;
    background-color: #3f3f3f;
    color: whitesmoke;
    font-weight:bolder;
    font-size: large;
  }
  .postblogform label{
    color: red;
    font-size:large;
    font-weight:bolder;
  }
  .pad{
    padding: 15px;
  }






  .cardprofile {
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background:#232323;
   
    
  }

  .cardprofile h1{
    padding: 20px;
  }
  
  .title1 {
    color: grey;
    font-size: 18px;
    padding: 10px
  }
  
  .title2 {
    padding:10px;
    color:white;
  }

  .buttonContact {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(255, 0, 0);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  
  
  .butttonContact button:hover, a:hover {
    opacity: 0.7;
  }




  
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid rgb(255, 0, 0);
    background-color: #fd0000;
   padding:2px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(255, 57, 57);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid rgb(255, 0, 0);
    border-top: none;
    color: white;
  }

 

  .tabcontent ul {
    list-style-type: none; /* Remove bullets */
    padding: 0px; /* Remove padding */
    margin: 0; /* Remove margins */
  }
  
  .tabcontent ul li {
    border: 1px solid rgb(0, 0, 0); /* Add a thin border to each list item */
    margin-top: -1px; /* Prevent double borders */
    background-color: #ff0000; /* Add a grey background color */
    padding: 15px; /* Add some padding */
    color:#000000;
  }

  .tabcontent ul li button {
    float:right;
    display:flex;
    color:#ffffff;
    background:#000000;
    padding: 5px;
    
  }
.aboutBanner{
  margin-left: 50px;
}
.aboutBanner img{
  display: flex;
  justify-content: center;
}
.aboutBanner p{
  width: 90%;
  color:#bcbcbc;
  align-self: center;
}